@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 200 11% 15%; /* #293132 */
    --foreground: 210 40% 98%;
    --card: 200 11% 15%;
    --card-foreground: 210 40% 98%;
    --popover: 200 11% 15%;
    --popover-foreground: 210 40% 98%;
    --primary: 187 98% 74%; /* #7DF9FF */
    --primary-foreground: 200 11% 15%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 75 100% 50%; /* #BFFF00 */
    --accent-foreground: 200 11% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 200 10% 25%;
    --input: 200 10% 25%;
    --ring: 187 98% 74%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 200 11% 15%;
    --foreground: 210 40% 98%;
    --card: 200 11% 15%;
    --card-foreground: 210 40% 98%;
    --popover: 200 11% 15%;
    --popover-foreground: 210 40% 98%;
    --primary: 187 98% 74%;
    --primary-foreground: 200 11% 15%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 75 100% 50%;
    --accent-foreground: 200 11% 15%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 200 10% 25%;
    --input: 200 10% 25%;
    --ring: 187 98% 74%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
